Assignment3-Report-fev004.odt
Assignment3-fev004.zip
Engelsberger_et_al-2012-The_Plant_Journal.pdf
.ipynb_checkpoints/main-checkpoint.py
Obligatory 3.pdf
Assignment3-Report-fev004.pdf
Assignment3-report2-Fev004.odt
